{% load static %}

          <!--  === название товара адаптированное для вывода в "Вы смотрели" -->
         {% if product.photo %}
         {% static 'image/default-product.png' as default_photo %}
           <a href="{% url 'product' product.rubric.rubric.name_translit product.rubric.title_translit product.title_translit %}"
             class="product-title"
             data-id="{{ product.pk }}"
             data-title="{{ product.title }}"
             data-photo="{{ product.photo.url }}"
             data-price="{{ product.price|floatformat:2 }}"
             data-rubric_id="{{ product.rubric.rubric.name_translit }}"
             data-subrubric_id="{{ product.rubric.title_translit }}"
             data-url="{% url 'product' product.rubric.rubric.name_translit product.rubric.title_translit product.title_translit %}">
             <h3>{{ product.title }}</h3></a>
         {% else %}
         {% static 'image/default-product.png' as default_photo %}
           <a href="{% url 'product' product.rubric.rubric.name_translit product.rubric.title_translit product.title_translit %}"
             class="product-title"
             data-id="{{ product.pk }}"
             data-title="{{ product.title }}"
             data-photo="{{ default_photo }}"
             data-price="{{ product.price|floatformat:2 }}"
             data-rubric_id="{{ product.rubric.rubric.name_translit }}"
             data-subrubric_id="{{ product.rubric.title_translit }}"
             data-url="{% url 'product' product.rubric.rubric.name_translit product.rubric.title_translit product.title_translit %}">
             <h3>{{ product.title }}</h3></a>
         {% endif %}

